<html lang="en">
<head>
    <title> Song Swears </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'index.css') }}">
    <link rel="icon" href="https://e7.pngegg.com/pngimages/941/502/png-clipart-profanity-word-english-swearing-s-english-text.png">
</head>
<body> 



    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</body>
</html>